includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'
    - 'vendor/slam/phpstan-extensions/conf/slam-rules.neon'
parameters:
    level: 9
    excludePaths:
        - '%rootDir%/../../../vendor/*'
    fileExtensions:
        - 'php'
    ignoreErrors:
        - identifier: missingType.iterableValue
